In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import requests
import math
import xlsxwriter
from scipy import stats

from utils import calculate_period_return, get_price_info

In [2]:
stocks = pd.read_csv('/workspaces/codespaces-jupyter/data/constituents_csv.csv')
stocks

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [3]:
my_cols = ['ticker', 'price', 'no_of_shares_to_buy', 'one_year_return', 'one_year_return_percentile',
           'six_month_return', 'six_month_return_percentile', 'three_month_return', 'three_month_return_percentile',
           'one_month_return', 'one_month_return_percentile']
final_df = pd.DataFrame(columns=my_cols)

bad_tickers = []
for ind, row in stocks.iterrows():
    ticker = row.values[0]
    try:
        to_append = pd.Series(
            [
                ticker,
                get_price_info(ticker, ['currentPrice']),
                'N/A',
                calculate_period_return(ticker, '12mo'),
                'N/A',
                calculate_period_return(ticker, '6mo'),
                'N/A',
                calculate_period_return(ticker, '3mo'),
                'N/A',
                calculate_period_return(ticker, '30days'),
                'N/A'            
            ],
            index=my_cols
        )
    except:
        bad_tickers.append(ticker)
    final_df = pd.concat([final_df, to_append.to_frame().T], ignore_index=True)
final_df

ABMD: No price data found, symbol may be delisted (period=6mo)
ANTM: No data found, symbol may be delisted
BLL: No data found, symbol may be delisted
BRK.B: No data found, symbol may be delisted
BF.B: Period '12mo' is invalid, must be one of ['1mo', '3mo', '6mo', 'ytd', '1y', '2y', '5y', '10y', 'max']
CERN: No data found, symbol may be delisted
CTXS: No data found, symbol may be delisted
DISCA: No data found, symbol may be delisted
DISCK: No data found, symbol may be delisted
DRE: No data found, symbol may be delisted
RE: Period '30days' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', '5y', '10y', 'ytd', 'max']
FB: No data found, symbol may be delisted
FRC: No data found, symbol may be delisted
FISV: No data found, symbol may be delisted
FBHS: No data found, symbol may be delisted
INFO: No data found, symbol may be delisted
KSU: No data found, symbol may be delisted
NLSN: No data found, symbol may be delisted
NLOK: No data found, symbol may be delisted
PBCT: No data found, symbol may be delisted
PKI: No data found, symbol may be delisted
SIVB: No data found, symbol may be delisted
TWTR: No data found, symbol may be delisted
VIAC: No data found, symbol may be delisted
WLTW: No data found, symbol may be delisted
XLNX: No data found, symbol may be delisted

,ticker,price,no_of_shares_to_buy,one_year_return,one_year_return_percentile,six_month_return,six_month_return_percentile,three_month_return,three_month_return_percentile,one_month_return,one_month_return_percentile
0,MMM,[101.2],N/A,-29.741076,N/A,-9.318355,N/A,2.23229,N/A,0.0,N/A
1,AOS,[70.84],N/A,12.705198,N/A,5.02301,N/A,4.295623,N/A,0.0,N/A
2,ABT,[105.01],N/A,-4.35776,N/A,-1.154984,N/A,-3.938797,N/A,0.0,N/A
3,ABBV,[152.18],N/A,11.289456,N/A,2.795291,N/A,4.964245,N/A,0.0,N/A
4,ABBV,[152.18],N/A,11.289456,N/A,2.795291,N/A,4.964245,N/A,0.0,N/A
...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,[132.71],N/A,11.48354,N/A,0.751598,N/A,-4.373823,N/A,0.0,N/A
501,ZBRA,[267.98],N/A,-22.304367,N/A,-19.631715,N/A,0.600648,N/A,0.0,N/A
502,ZBH,[122.515],N/A,5.507231,N/A,-2.074176,N/A,-9.140461,N/A,0.0,N/A
503,ZION,[35.73],N/A,-39.430414,N/A,-30.472855,N/A,50.378785,N/A,0.0,N/A
504,ZTS,[189.13],N/A,10.093726,N/A,8.739155,N/A,4.232575,N/A,0.0,N/A